@model ClinicManagement.Models.AppointmentsModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container" style="margin-top: 20px;">
    @using (Html.BeginForm("DoctorAppointments", "DoctorsData", FormMethod.Post))
    {
    <h4>@Model.Appointments[0].AppDoctor</h4>
    <hr />
    <table cellpadding="0" cellspacing="0" border="1" class="table table-bordered">
        <tr>
            <th>Booking Number</th>
            <th>Date</th>
            <th>Booking Slot #</th>
            <th>Patient Name</th>
        </tr>
        @foreach (var appointment in Model.Appointments)
        {
        <tr>
            <td>@appointment.BookingNumber</td>
            <td>@appointment.BookingDate.Value.ToShortDateString()</td>
            <td>
                @if (@appointment.BookingSlot == 1)
                {
                    <span>10AM:11AM</span>
                }
                else
                {
                    if (@appointment.BookingSlot == 2)
                    {
                        <span>12AM:01PM</span>
                    }
                    else
                    {
                        if (@appointment.BookingSlot == 3)
                        {
                            <span>12AM:01PM</span>
                        }
                        else
                        {
                            if (@appointment.BookingSlot == 4)
                            {
                                <span>02PM:03PM</span>
                            }
                            else
                            {
                                if (@appointment.BookingSlot == 5)
                                {
                                    <span>03PM:04PM</span>
                                }
                                else
                                {
                                    if (@appointment.BookingSlot == 6)
                                    {
                                        <span>04PM:05PM</span>
                                    }
                                    else
                                    {
                                        @appointment.BookingSlot
                                    }
                                }
                            }
                        }
                    }
                }
            </td>
            <td>@appointment.BkdPatient</td>            
        </tr>
        }
    </table>
    <br />
    <table cellpadding="0" cellspacing="0">
        <tr>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
            <td style="padding: 5px 10px 5px 10px;  border: 1px solid #ccc;">
                @if (i != Model.CurrentPageIndex)
                {
                <a href="javascript:PagerClick(@i);">@i</a>
                }
                else
                {
                <span>@i</span>
                }
            </td>
            }
        </tr>
    </table>
    <input type="hidden" id="hfCurrentPageIndex" name="currentPageIndex" />
    }
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hfCurrentPageIndex").value = index;
            document.forms[0].submit();
        }
    </script>
</div>
<h2><a asp-controller="DoctorsData" asp-action="Index">Back to Doctors List</a></h2>
